/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcc00;
    padding: 10px 20px;
}

.logo img {
    height: 40px;
}

.search-bar {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    width: 60%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

.user-options a {
    margin-left: 20px;
    color: #333;
    text-decoration: none;
}

/* Barra de navegação */
.navbar {
    background-color: #333;
    padding: 10px 0;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Banner principal */
.main-banner {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.banner-item img {
    width: 90%;
    border-radius: 10px;
}

/* Promoções */
.promotions {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #f1f1f1;
}

.promotion-item img {
    width: 250px;
    border-radius: 10px;
}
